<% layout("layouts/boilerplate.ejs") %>
<body>
    <div class="row">
        <div class="col w-100 offset-4">
            <div class="card" style="width: 25rem;">
                <img class="card-img-top" src="<%= list.image.url %>" alt="Card image cap">
                <div class="card-body">
                  <h2 class="card-title">
                    <%= list.title %>
                </h2>
                  <p class="card-text">
                    
                <p>Owned By  <%= list.owner.username %></p>
                <p>Description : <%= list.description %></p>
                <P>Price :  &#8377; <%= list.price.toLocaleString('en-IN') %></P>
                <p>location : <%= list.location %>, <%= list.country %></p>
                  </p>
                  <% if(userData && userData._id.equals(list.owner._id)){%>
                  <div class="d-flex w-100 align-items-center">
                  <a href="/listing/<%= list.id %>/edit" class="btn btn-primary mx-2">Edit Details</a>
                <form action="/listing/<%= list.id %>?_method=DELETE"  method="post">
                    <input type="submit" class="btn btn-danger" value="Delete">
                </form>
            </div>
            
             <%} %>
                </div>
              </div>
              
        
        </div>
    </div>
    <hr>
    <% if(userData){%>
    <div class="row mt-5">
      <div class="col w-50 offset-4">
        <h4>Leave Reviews</h4>
        <form action="/listing/<%= list.id %>/reviews" class="needs-validation" method="post" novalidate>
          <div class="card" style="width: 20rem;">
          <div class="mb-3 mt-3">
            <label class="form-label" for="rating">Stars</label>
            <fieldset class="starability-slot">
              <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
              <input type="radio" id="first-rate1" name="review[rating]" value="1" />
              <label for="first-rate1" title="Terrible">1 star</label>
              <input type="radio" id="first-rate2" name="review[rating]" value="2" />
              <label for="first-rate2" title="Not good">2 stars</label>
              <input type="radio" id="first-rate3" name="review[rating]" value="3" />
              <label for="first-rate3" title="Average">3 stars</label>
              <input type="radio" id="first-rate4" name="review[rating]" value="4" />
              <label for="first-rate4" title="Very good">4 stars</label>
              <input type="radio" id="first-rate5" name="review[rating]" value="5" />
              <label for="first-rate5" title="Amazing">5 stars</label>
            </fieldset>
             
            </div>

            <div class="mb-3 mt-3">
              <label for="Title" class="form-label" for="comment">Comment</label><br>
              <textarea id="comment" name="review[comment]" class="form-control" cols="30" rows="4" required></textarea> 
              <div class="invalid-feedback">Please Add comment</div>  
            </div>
              <div class="mb-3 mt-3">
                <button type="submit" class="btn btn-outline-primary">Submit Review</button> 
                </div>
            </div>
        </form>
    </div>
  </div>
  
  <hr>
<%}%>
  <div class="row mt-5">
    <div class="col-md-6 offset-md-3">
      <h4>What People Think!!!</h4>
      <% for (let element of list.reviews) { %>
        <div class="card border mb-3" style="max-width: 100%;">
          <div class="card-body border">
            <h5 class="card-title"><i>@<%= element.author.username %></i></h5>
            <p class="starability-result card-text" data-rating="<%= element.rating %>">
            </p>
            <p class="card-text"><%= element.comment %></p>
            <%if(userData && element.author._id.equals(userData._id)){ %>
              <form action="/listing/<%= list._id %>/reviews/<%= element._id %>?_method=DELETE" class="my-3" method="post">
                <button type="submit" class="btn btn-outline-dark">Delete</button>
              </form>
            <%}%>
          </div>
        </div>
      <% } %>
    </div>
  </div>
  
</div>
    
</body>
