<% layout("layouts/boilerplate.ejs") %>
<body>
    <div style="border: 1px solid black;">
        <img height="300px" width="300px" src="<%= list.image %>">
        <h2><%= list.title %></h2>
        <p>Description : <%= list.description %></p>
        <P>Price :  &#8377; <%= list.price.toLocaleString('en-IN') %></P>
        <p>location : <%= list.location %>, <%= list.country %></p>
        <a href="/listing/<%= list.id %>/edit"><button>Edit Details</button></a>
        <form action="/listing/<%= list.id %>?_method=DELETE" method="post">
            <input type="submit" value="Delete">
        </form> 
        <a href="/listing"><button>Back</button></a> 
    </div>
</body>
