<% layout("layouts/boilerplate.ejs") %>

<%- include("../includes/searchBar.ejs");  %>
<body>
    <div class="container-fluid">
      <% if(listing.length < 1){ %>
        <div class="container-fluid h-100 w-100" style="height: 100vh;width: 100wh;">
          <h1>No result Found!</h1>
        </div>
        <% }%>
        <div class="row row-col-xl-4 row-col-lg-3 row-col-md-2 row-col-sm-1">
            <%for(list of listing){%>
                
                <div class="card" style="width: 18rem;">
                    <a href="/listing/<%= list.id %>" class="listing-link">
                    <img src="<%= list.image.url %>" class="card-img-top" style="height: 18rem;">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                      <p class="card-text">
                        <b><%= list.title %></b><br>
                        Price : &#8377; <%= list.price.toLocaleString('en-IN') %><br>
                        <i class="tax-value">+18% GST included</i>
                        location : <%= list.location %>, <%= list.country %>
                      </p>
                      
                    </div>
                </a>
                  </div>
            <%}%>
            </div>
    </div>
</body>