<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="border: 1px solid black;">
        <img height="300px" width="300px" src="<%= list.image %>">
        <h2><%= list.title %></h2>
        <p>Description : <%= list.description %></p>
        <P>Price :  &#8377; <%= list.price.toLocaleString('en-IN') %></P>
        <p>location : <%= list.location %>, <%= list.country %></p>
        <a href="/listing"><button>Back</button></a> 
    </div>
</body>
</html>
